In [1]:
import pandas as pd

# 5.2.1 推断类型

In [3]:
df = pd.read_excel('team2.xlsx')
df

     name team  Q1  Q2  Q3  Q4     1city what color
0   Liver    E  89  21  24   1  shanghai     yellew
1    Arry    C  55  37  37   2    nanjin        red
2     Ack    A  57  60  33   3    beijin     purple
3   Eorge    C  93   4  71   4   tianjin       blue
4     Oah    D  93  49  44   5     henan      black
5  Harlie    C  24  13  87   6     hebei       pink

In [5]:
# 自动转换合适的数据类型
df.infer_objects().dtypes

name          object
team          object
Q1             int64
Q2             int64
Q3             int64
Q4             int64
1city         object
what color    object
dtype: object

In [6]:
# 推断后的Df
df.convert_dtypes().dtypes

name          string
team          string
Q1             Int64
Q2             Int64
Q3             Int64
Q4             Int64
1city         string
what color    string
dtype: object