In [1]:
import pandas as pd, numpy as np

# 7.3.2 连接键

In [6]:
df1 = pd.DataFrame({'a':[1,2], 'x':[5,6]})
df2 = pd.DataFrame({'a':[2,1,0], 'y':[6,7,8]})

In [7]:
pd.merge(df1,df2,on='a')

   a  x  y
0  1  5  7
1  2  6  6

# 7.3.3 索引连接

In [13]:
pd.merge(df1,df2,left_index=True,right_index=True,suffixes=('_1','_2'))

   a_1  x  a_2  y
0    1  5    2  6
1    2  6    1  7

# 7.3.4 多连接

In [14]:
df3 = pd.DataFrame({'a':[1,2], 'b':[3,4], 'x':[5,6]})
df4 = pd.DataFrame({'a':[1,2,3], 'b':[3,4,5], 'y':[6,7,8]})
pd.merge(df3, df4, on=['a','b'])

   a  b  x  y
0  1  3  5  6
1  2  4  6  7

# 7.3.5 连接方式

In [15]:
# 左表为基表
pd.merge(df3, df4, how='left', on=['a','b'])

   a  b  x  y
0  1  3  5  6
1  2  4  6  7

In [16]:
# 右表为基表
pd.merge(df3, df4, how='right', on=['a','b'])

   a  b    x  y
0  1  3  5.0  6
1  2  4  6.0  7
2  3  5  NaN  8

In [17]:
# 取2个表的并集
pd.merge(df3, df4, how='outer', on=['a','b'])

   a  b    x  y
0  1  3  5.0  6
1  2  4  6.0  7
2  3  5  NaN  8

In [18]:
# 取2个表的交集
pd.merge(df3, df4, how='inner', on=['a','b'])

   a  b  x  y
0  1  3  5  6
1  2  4  6  7

# 7.3.6 连接指示

In [21]:
pd.merge(df1, df2, on='a', how='outer', indicator=True)

   a    x  y      _merge
0  1  5.0  7        both
1  2  6.0  6        both
2  0  NaN  8  right_only

In [22]:
df1

   a  x
0  1  5
1  2  6

In [23]:
df2

   a  y
0  2  6
1  1  7
2  0  8