In [1]:
import pandas as pd, numpy as np

In [2]:
df1 = pd.DataFrame({'A':[1,2],'B':[5,6]})
df2 = pd.DataFrame({'A':[0,2],'B':[5,7]})

# 7.5.1 简单对比

In [3]:
# 差异值用self和other显示，相同值为NaN不用关心
df1.compare(df2)

     A          B
  self other self other
0  1.0   0.0  NaN   NaN
1  NaN   NaN  6.0   7.0

In [4]:
df1

   A  B
0  1  5
1  2  6

In [5]:
df2

   A  B
0  0  5
1  2  7

In [6]:
df1 = pd.DataFrame({'A':[1,2],'B':[5,6]})
df2 = pd.DataFrame({'A':[1,2],'B':[5,7]})

In [7]:
# 只能比对形状相同的两个数据
df1.compare(df2)

     B
  self other
1  6.0   7.0

# 7.5.2 对齐方式

In [8]:
df1 = pd.DataFrame({'A':[1,2],'B':[5,6]})
df2 = pd.DataFrame({'A':[0,2],'B':[5,7]})

In [9]:
# 不同数据显示在行方向上，align_axis=0
df1.compare(df2, align_axis=0)

           A    B
0 self   1.0  NaN
  other  0.0  NaN
1 self   NaN  6.0
  other  NaN  7.0

# 7.5.3 显示相同值

In [10]:
df1.compare(df2, keep_equal=True)

     A          B
  self other self other
0    1     0    5     5
1    2     2    6     7

# 7.5.4 保持形状

In [11]:
df1 = pd.DataFrame({'A':[1,2],'B':[5,6]})
df2 = pd.DataFrame({'A':[1,2],'B':[5,7]})

In [12]:
# 相同的值为NaN进行占位
df1.compare(df2, keep_shape=True)

     A          B
  self other self other
0  NaN   NaN  NaN   NaN
1  NaN   NaN  6.0   7.0