In [1]:
import pandas as pd

# None 、 NaN 、pd.NA 都是缺失值

In [2]:
df = pd.DataFrame({'A':['x','x','z'],'B':['x','x','x'],'C':[1,1,2]})
df

   A  B  C
0  x  x  1
1  x  x  1
2  z  x  2

In [3]:
# 统计行中除第一次出现之外重复的为True
df.duplicated()

0    False
1     True
2    False
dtype: bool

In [5]:
# 统计行中除最后一次出现之外重复的为True
df.duplicated(keep='last')

0     True
1    False
2    False
dtype: bool

In [6]:
# 统计每行有重复的为True
df.duplicated(keep=False)

0     True
1     True
2    False
dtype: bool

In [8]:
# 统计B列重复的为True
df.duplicated(subset=['B'],keep=False)

0    True
1    True
2    True
dtype: bool

In [9]:
# 统计C列重复的为True
df.duplicated(subset=['C'],keep=False)

0     True
1     True
2    False
dtype: bool

In [10]:
df

   A  B  C
0  x  x  1
1  x  x  1
2  z  x  2

In [11]:
# 筛选出重复的内容
df[df.duplicated()]

   A  B  C
1  x  x  1

# 10.4.2 删除重复值

In [12]:
df

   A  B  C
0  x  x  1
1  x  x  1
2  z  x  2

In [13]:
# 删除重复行
df.drop_duplicates()

   A  B  C
0  x  x  1
2  z  x  2

In [16]:
# 删除指定列的下一个重复的行
df.drop_duplicates(subset=['A'])

   A  B  C
0  x  x  1
2  z  x  2

In [17]:
 # 删除指定列当前行，保留重复的行
df.drop_duplicates(subset=['A'], keep='last')

   A  B  C
1  x  x  1
2  z  x  2

# 10.4.3 删除数据

In [18]:
df

   A  B  C
0  x  x  1
1  x  x  1
2  z  x  2

In [19]:
# 删除第一、二行
df.drop([0,1])

   A  B  C
2  z  x  2

In [21]:
# 删除B、C列
df.drop(['B','C'], axis=1)
# df.drop(columns=['B','C']) # 同上

   A
0  x
1  x
2  z