In [1]:
import pandas as pd

# None 、 NaN 、pd.NA 都是缺失值

# 10.5.2 DataFrame转为ndarray

In [2]:
df = pd.read_excel("../team2.xlsx")
df

     name team  Q1  Q2  Q3  Q4     1city what color
0   Liver    E  89  21  24   1  shanghai     yellew
1    Arry    C  55  37  37   2    nanjin        red
2     Ack    A  57  60  33   3    beijin     purple
3   Eorge    C  93   4  71   4   tianjin       blue
4     Oah    D  93  49  44   5     henan      black
5  Harlie    C  24  13  87   6     hebei       pink

In [3]:
df.to_numpy()

array([['Liver', 'E', 89, 21, 24, 1, 'shanghai', 'yellew'],
       ['Arry', 'C', 55, 37, 37, 2, 'nanjin', 'red'],
       ['Ack', 'A', 57, 60, 33, 3, 'beijin', 'purple'],
       ['Eorge', 'C', 93, 4, 71, 4, 'tianjin', 'blue'],
       ['Oah', 'D', 93, 49, 44, 5, 'henan', 'black'],
       ['Harlie', 'C', 24, 13, 87, 6, 'hebei', 'pink']], dtype=object)

In [4]:
type(df.to_numpy())

numpy.ndarray

In [5]:
df.to_numpy().dtype

dtype('O')

In [6]:
# 转换指定的列
df[['name','Q1']].to_numpy()

array([['Liver', 89],
       ['Arry', 55],
       ['Ack', 57],
       ['Eorge', 93],
       ['Oah', 93],
       ['Harlie', 24]], dtype=object)

# 10.5.3 Series转为ndarray

In [7]:
df.Q1

0    89
1    55
2    57
3    93
4    93
5    24
Name: Q1, dtype: int64

In [8]:
df.Q1.to_numpy()

array([89, 55, 57, 93, 93, 24])

In [9]:
type(df.Q1.to_numpy())

numpy.ndarray

In [10]:
df.Q1.to_numpy().dtype

dtype('int64')

# 10.5.4 df.to_records()

In [11]:
df

     name team  Q1  Q2  Q3  Q4     1city what color
0   Liver    E  89  21  24   1  shanghai     yellew
1    Arry    C  55  37  37   2    nanjin        red
2     Ack    A  57  60  33   3    beijin     purple
3   Eorge    C  93   4  71   4   tianjin       blue
4     Oah    D  93  49  44   5     henan      black
5  Harlie    C  24  13  87   6     hebei       pink

In [12]:
# 将数据转为numpy的record array类型，然后再用numpy的np.array读取，转为array类型
df.to_records()

rec.array([(0, 'Liver', 'E', 89, 21, 24, 1, 'shanghai', 'yellew'),
           (1, 'Arry', 'C', 55, 37, 37, 2, 'nanjin', 'red'),
           (2, 'Ack', 'A', 57, 60, 33, 3, 'beijin', 'purple'),
           (3, 'Eorge', 'C', 93,  4, 71, 4, 'tianjin', 'blue'),
           (4, 'Oah', 'D', 93, 49, 44, 5, 'henan', 'black'),
           (5, 'Harlie', 'C', 24, 13, 87, 6, 'hebei', 'pink')],
          dtype=[('index', '<i8'), ('name', 'O'), ('team', 'O'), ('Q1', '<i8'), ('Q2', '<i8'), ('Q3', '<i8'), ('Q4', '<i8'), ('1city', 'O'), ('what color', 'O')])

# 10.5.5 np.array读取

In [14]:
import numpy as np
np.array(df)

array([['Liver', 'E', 89, 21, 24, 1, 'shanghai', 'yellew'],
       ['Arry', 'C', 55, 37, 37, 2, 'nanjin', 'red'],
       ['Ack', 'A', 57, 60, 33, 3, 'beijin', 'purple'],
       ['Eorge', 'C', 93, 4, 71, 4, 'tianjin', 'blue'],
       ['Oah', 'D', 93, 49, 44, 5, 'henan', 'black'],
       ['Harlie', 'C', 24, 13, 87, 6, 'hebei', 'pink']], dtype=object)

In [15]:
np.array(df.Q1)

array([89, 55, 57, 93, 93, 24])

In [16]:
np.array(df.Q1.array)

array([89, 55, 57, 93, 93, 24])

In [17]:
np.array(df.to_records().view(type=np.matrix))

array([[(0, 'Liver', 'E', 89, 21, 24, 1, 'shanghai', 'yellew'),
        (1, 'Arry', 'C', 55, 37, 37, 2, 'nanjin', 'red'),
        (2, 'Ack', 'A', 57, 60, 33, 3, 'beijin', 'purple'),
        (3, 'Eorge', 'C', 93,  4, 71, 4, 'tianjin', 'blue'),
        (4, 'Oah', 'D', 93, 49, 44, 5, 'henan', 'black'),
        (5, 'Harlie', 'C', 24, 13, 87, 6, 'hebei', 'pink')]],
      dtype=(numpy.record, [('index', '<i8'), ('name', 'O'), ('team', 'O'), ('Q1', '<i8'), ('Q2', '<i8'), ('Q3', '<i8'), ('Q4', '<i8'), ('1city', 'O'), ('what color', 'O')]))