In [1]:
import pandas as pd

In [71]:
df = pd.read_excel("../team.xlsx")
df.head()

    name team    Q1  Q2    Q3  Q4
0  Liver    E  89.0  21  24.0   1
1   Arry    C   NaN  37  37.0   2
2    Ack    A  57.0  60   NaN   3
3  Eorge    C  93.0   4  71.0   4
4    Oah    D  93.0  49   NaN   5

In [4]:
df.style

In [5]:
type(df.style)

pandas.io.formats.style.Styler

# 15.1.3

In [6]:
df.head().style.highlight_null()

In [9]:
# 
df.head().style.highlight_null(color='blue')

In [10]:
# css
df.head().style.highlight_null(color='#ccc')

# 15.1.4

In [12]:
# 
df.head().style.highlight_max()

In [13]:
# 
df.head().style.highlight_min()

In [16]:
# 
df.head().style.highlight_max(color='lime').highlight_min()

In [20]:
# Q1Q2
df.style.highlight_min(subset=['Q1','Q2'])

In [21]:
# Q1Q2
df.style.highlight_min(subset=['Q1','Q2'],axis=1)

# 15.1.5

In [23]:
# MatplotlibMatplotlib colormap
# https://matplotlib.org/devdocs/gallery/color/colormap_reference.html

# 
df.head().style.background_gradient()

In [27]:
# Q1
df.style.background_gradient(subset=['Q1'], cmap='BuGn')

In [32]:
# 
df.head().style.background_gradient(low=0.6, high=0)

In [35]:
# 
df.style.background_gradient(text_color_threshold=0.5)

In [36]:
# 
df.style.background_gradient(vmin=60, vmax=100)

# 15.1.6

In [44]:
# Q4
df.head().style.bar(subset=['Q4'], vmin=1, vmax=5)

In [47]:
# 
df.head().style.bar()

In [46]:
# 
df.head().style.bar(color='lime')

In [50]:
# 
df.head().style.bar(width=50)

In [51]:
# mid = (max-min)/2
df.head().style.bar(align='mid')

In [55]:
df.head().style.bar(align='left')

In [52]:
df.head().style.bar(align=0)

In [54]:
df.head().style.bar(align='right')

#

In [69]:
df.head(10).assign(avg=df.mean(axis=1, numeric_only=True)) \
.assign(diff=lambda x: x.avg.diff()) \
.style.bar(color='yellow', subset=['Q1']) \
.bar(subset=['avg'],width=90,align='mid',vmin=60,vmax=100) \
.bar(subset=['diff'],color=['#ffe4e4','#bbf9ce'],vmin=0,vmax=30,align='zero')