In [1]:
from PO.SqlserverPO import *
Sqlserver_PO = SqlServerPO("192.168.0.234", "sa", "Zy_123456789", "PHUSERS", "GBK")
a = Sqlserver_PO.selectParam("select * from a_test where id=%s", 3)
print(a)

[{'id': 3, 'name': 'Mike T.', 'salesrep': 'Sarah H.'}]

In [7]:
a = Sqlserver_PO.select("select * from a_test")
a

[{'id': 1, 'name': 'John Smith2', 'salesrep': 'John Doe3'},
 {'id': 2, 'name': 'Jane Doe', 'salesrep': 'Joe Dog'},
 {'id': 3, 'name': 'Mike T.', 'salesrep': 'Sarah H.'},
 {'id': 4, 'name': 'John Smith6662', 'salesrep': 'John Doe3'}]

In [18]:
pd.set_option('display.expand_frame_repr', False)
df = pd.DataFrame(a, columns=['id', 'name', 'salesrep'])
df

   id            name   salesrep
0   1     John Smith2  John Doe3
1   2        Jane Doe    Joe Dog
2   3         Mike T.   Sarah H.
3   4  John Smith6662  John Doe3

In [19]:
df.head().style.highlight_max()

In [21]:
df.style.highlight_max().to_excel('hello.xlsx')