In [117]:
import numpy as np
import pandas as pd
from datetime import datetime

In [140]:
df = pd.read_csv("DC.csv",encoding='gbk',error_bad_lines=False, warn_bad_lines=True)

b'Skipping line 9: expected 9 fields, saw 10\n'

In [141]:
df

     对手   胜负  主客场    命中   投篮数    篮板    助攻  得分          日期
0    勇士    胜    客  10.0  23.0   6.0  11.0  27   1999/12/1
1    国王    胜    客   8.0   NaN   3.0   9.0  27   1999/12/2
2    小牛    胜    主   NaN  55.0   3.0   NaN  29   1999/12/3
3    灰熊    负    主   8.0  20.0   5.0   8.0  22   1999/12/4
4   76人    胜    客  10.0  20.0   3.0  13.0  27   1999/12/5
5    黄蜂    胜    客   8.0  18.0   NaN  11.0  27   1999/12/6
6    灰熊    负    客   6.0  19.0   4.0   8.0  20   1999/12/7
7   尼克斯    胜    客   9.0  23.0   5.0   9.0  31   1999/12/9
8    老鹰    胜    客   8.0  15.0   3.0  11.0  29  1999/12/10
9    爵士    胜    主  19.0  25.0   2.0   NaN  56  1999/12/11
10   骑士    胜    主   8.0  21.0  11.0  13.0  35  1999/12/12
11   灰熊    胜    主  11.0  25.0   4.0   8.0  38  1999/12/13
12  步行者    胜    客   9.0   NaN   5.0  15.0  26  1999/12/14
13   猛龙    负    主   8.0  25.0   6.0  11.0  38  1999/12/15
14   太阳    胜    客  12.0  22.0   2.0   7.0  48  1999/12/16
15   灰熊    胜    客   9.0  20.0   5.0   7.0  29  1999/12/17
16   掘金    胜    主   NaN  16.0   8.0   9.0  21  1999/12/18
17  尼克斯    胜    主  12.0  27.0   2.0  10.0  37  1999/12/19
18   篮网    胜    主  13.0  20.0  10.0   8.0  37  1999/12/20
19  步行者    胜  NaN   8.0  22.0   8.0  10.0  29  1999/12/21
20   湖人    胜    客  13.0  22.0   4.0   9.0  36  1999/12/22
21   爵士  NaN    客   8.0  19.0   5.0   3.0  29  1999/12/23
22  开拓者    胜    客  16.0  29.0   8.0   3.0  48  1999/12/24
23  NaN    胜    主   8.0  16.0   1.0  17.0  26  1999/12/25

In [130]:
df.get_chunk(1)

   对手 胜负 主客场  命中  投篮数  篮板  助攻  得分         日期
1  国王  胜   客   8  NaN   3   9  27  1999/12/2

In [131]:
df.get_chunk(3)

    对手 胜负 主客场    命中  投篮数  篮板    助攻  得分         日期
2   小牛  胜   主   NaN   55   3   NaN  29  1999/12/3
3   灰熊  负   主   8.0   20   5   8.0  22  1999/12/4
4  76人  胜   客  10.0   20   3  13.0  27  1999/12/5

In [127]:
df.head(6)

AttributeError: 'TextFileReader' object has no attribute 'head'

In [55]:
df.columns

Index(['景区名称', '地区', '热度', '地址', '价格', '月销量'], dtype='object')

In [57]:
df.dtypes

景区名称     object
地区       object
热度       object
地址       object
价格      float64
月销量       int64
dtype: object

In [59]:
df['价格'].unique()

array([141.5, 100. ,  58. , 215. ,  25. , 118. , 168. ,  89. ,  99. ,
        80. ,  36. ,  35. ,  50. ,   3. , 109. ,  90. ,  65. ,  30. ,
       158. , 200. ,  98. , 350. , 268. , 318. , 130. , 298. ,  70. ,
       178. ,   2. ,  66. ,   9. , 518. ,  51. , 238. ,  28. ,  69. ])

In [22]:
# 获取 title
df.columns

Index(['景区名称', '星级', '地区', '热度', '地址', '价格', '月销量'], dtype='object')

In [16]:
# 获取第一列（索引值）
df.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59], dtype=int64)

In [18]:
# 将某一行记录转为字典 to_dict()
df_dict = df.loc[1,df.columns].to_dict()

In [19]:
df_dict

{'景区名称': '大连圣亚海洋世界',
 '星级': '4A景区',
 '地区': '辽宁·大连·沙河口区',
 '热度': '热度 0.82',
 '地址': '地址：大连市沙河口区中山路608-6-8号（星海广场西500米）',
 '价格': 100.0,
 '月销量': 666}

In [20]:
df.loc[1,df.columns]

景区名称                            大连圣亚海洋世界
星级                                  4A景区
地区                            辽宁·大连·沙河口区
热度                               热度 0.82
地址      地址：大连市沙河口区中山路608-6-8号（星海广场西500米）
价格                                 100.0
月销量                                  666
Name: 1, dtype: object

In [ ]:
# 将title和每行记录以字典形式封装
# for i in df.index.values:
#     df_dict = df.loc[1,df.columns].to_dict()
#     print(df_dict)