In [19]:
import pandas as pd
import numpy as np

In [195]:
rtf = pd.read_csv("RTF.csv",encoding="gbk")
rtf.head()

  duishou shengfu zhukechang  minzhong  toulanshu  zhugong  defen
0      勇士       胜          客        10         23       11     27
1      国王       胜          客         8         21        9     27
2      小牛       胜          主        10         19        7     29
3      灰熊       负          主         8         20        8     22
4     76人       胜          客        10         20       13     27

In [196]:
dc = pd.read_csv("DC.csv",encoding="gbk")
dc.head()

    对手 胜负 主客场    命中   投篮数   篮板    助攻  得分
0   勇士  胜   客  10.0  23.0  6.0  11.0  27
1   国王  胜   客   8.0   NaN  3.0   9.0  27
2   小牛  胜   主   NaN  19.0  3.0   NaN  29
3   灰熊  负   主   8.0  20.0  5.0   8.0  22
4  76人  胜   客  10.0  20.0  3.0  13.0  27

In [197]:
dcrecord = dc.loc[dc['对手'] == "勇士"]
dcrecord

   对手 胜负 主客场    命中   投篮数   篮板    助攻  得分
0  勇士  胜   客  10.0  23.0  6.0  11.0  27

In [198]:
dcrecord["投篮数"]

0    23.0
Name: 投篮数, dtype: float64

In [199]:
rtfrecord = rtf.loc[dc['对手'] == "勇士"]

In [200]:
rtfrecord["toulanshu"]

0    23
Name: toulanshu, dtype: int64

In [112]:
if (dcrecord["投篮数"] != rtfrecord["toulanshu"]).any() :
    print("!212")

!212

In [202]:
df = pd.DataFrame({"对手":["勇士"]},columns=["对手"])
df

   对手
0  勇士

In [203]:
df

   对手
0  勇士

In [211]:
if (dcrecord["投篮数"].isnull() == True).any() and (rtfrecord["toulanshu"].isnull() == True).any():
    df["投篮数/toulanshu"] = "空"
elif dcrecord["投篮数"].isnull().any():
    df["投篮数/toulanshu"] ="空/"
elif rtfrecord["toulanshu"].isnull().any():
    df["投篮数/toulanshu"] ="/空"
else:
     df["投篮数/toulanshu"] = "错误"

In [230]:
df["投篮数/toulanshu"][0]

'错误'

In [235]:
rtfrecord["toulanshu"][0]

23

In [208]:
df

   对手 投篮数/toulanshu
0  勇士            错误

In [101]:
x = [dcrecord["投篮数"],rtfrecord["toulanshu"]]

In [102]:
result = pd.concat(x)
result

1     NaN
1    21.0
dtype: float64

In [103]:
 df["投篮数/toulanshu"]=result

ValueError: cannot reindex from a duplicate axis