In [1]:
# pi3 install jupyter
# pip3 install numpy 
# pip3 install pandas
# 启动 jupyter 
# 在工作目录下启动 jupyte notebook

# numpy 数学库，用于数组计算（一维、二维、多维），对list进行部分封装，提供了非常便利的科学运算功能，
# 因此在数值计算，机器学习，人工智能，神经网络等领域广泛应用。
# Numpy的核心是 ndarray，array本质是数组
# 官网：https://numpy.org/doc/stable/reference/

# pandas 侧重于数据处理，清洗
# pandas用户指南，https://pandas.pydata.org/docs/user_guide/index.html
# Shift + 回车  //执行
# all + 回车

import numpy as np
import pandas as pd

In [2]:
a = np.array([1,2,3,4])
print(a)

[1 2 3 4]

In [3]:
print(type(a))

<class 'numpy.ndarray'>

In [4]:
b = np.array([[[1,2.0],[1,2],[5,6]]])
print(b)

[[[1. 2.]
  [1. 2.]
  [5. 6.]]]

In [5]:
b.ndim  # 查看数据维度

3

In [6]:
print(b.dtype)

float64

In [7]:
a = np.arange(10)

In [8]:
a.index

AttributeError: 'numpy.ndarray' object has no attribute 'index'

In [ ]:
# linspace等差数列
np.linspace(0,4,num=11)

In [ ]:
np.linspace(0,2)

In [ ]:
# 随机数
np.random.randn(6,4)

In [ ]:
np.random.randn(3,2,4)

In [ ]:
# randint随机生成[0,1)之间的整数，就是0
np.random.randint(1,size=5)

In [ ]:
# randint随机生成[1,5)之间的整数
np.random.randint(1,5)

In [ ]:
# randint随机生成[-5，5)之间的整数
np.random.randint(-5,5,size=(3,2))

In [ ]:
### pandas 简介
# - 是一个专注于数据处理的一个库
# - 可以帮助数据分析、数据挖掘、算法工程师的人员
# Pandas模块的数据结构主要有两种：1.Series 2.DataFrame
###

In [ ]:
# Series是一维数组，基于numpy的ndarray结构
# np.nan是一个float类型的数据
obj = pd.Series([1,2,3,4,5,np.nan])
obj

In [ ]:
obj = pd.Series([1,2,3,4,5])
obj

In [ ]:
np.sum(obj)

In [ ]:
obj[4]

In [ ]:
obj.index

In [ ]:
obj[[0,2,4]]

In [ ]:
d = {"a":10, "b":20, "c":30}
d = pd.Series(d)
d

In [ ]:
d.values

In [ ]:
d["a"]

In [ ]:
d[0]

In [ ]:
d.index

In [10]:
i = ["jinhao","zhaoyun","xiaodong","yangyang","test"]
a = pd.Series([1,5,5,5,2],index = i)
a

jinhao      1
zhaoyun     5
xiaodong    5
yangyang    5
test        2
dtype: int64

In [13]:
# 查看表格列表中有多少个不同值的方法。并计算每个不同值在列表中有多少重复值。
a.value_counts()

5    3
1    1
2    1
dtype: int64

In [16]:
a.value_counts()[5]

3

In [11]:
a.value_counts(ascending=True)

1    1
2    1
5    3
dtype: int64

In [ ]:
# 函数dtype()数据类型
# NumPy 数字类型是dtype(数据类型)对象的实例，每个对象具有唯一的特征。 这些类型可以是np.bool_，np.float32等。
# 语法：numpy.dtype(object, align, copy)
# 每个内建类型都有一个唯一定义它的字符代码：
# ‘b’：布尔值
# ‘i’：符号整数
# ‘u’：无符号整数
# ‘f’：浮点
# ‘c’：复数浮点
# ‘m’：时间间隔
# ‘M’：日期时间
# ‘O’：Python 对象
# ‘S’, ‘a’：字节串
# ‘U’：Unicode
# ‘V’：原始数据(void)
np.dtype(np.int32)  #  # #int8，int16，int32，int64 可替换为等价的字符串 'i1'，'i2'，'i4'，以及其他。

In [ ]:
np.dtype("i4")

In [ ]:
np.dtype(np.float32)

In [ ]:
np.dtype("f4")

In [ ]:
# 结构化数组类型
student = np.dtype([("name","S20"),("age", np.int8),("marks","f4")])
print(student)

In [ ]:
a = np.array([("abc",21,50),("xyz",18,75)], dtype=student)
print(a)

In [ ]:
print(a["name"])

In [ ]:
obj2 = pd.Series({"姓名":"张三","年龄":"12"})
obj2

In [ ]:
obj2[["姓名","年龄"]]

In [ ]:
obj3 = pd.Series(["张三","上海",22],index=["姓名","地区","年龄"])
obj3

In [ ]:
num = pd.Series([4,8,16,32])
a = np.log2(num)  # 对数函数log2()
a

In [ ]:
# DataFrame 二维数组
d1 = pd.DataFrame([["张无忌",24,"男"],["周芷若",16,"女"]])
d1

In [ ]:
data = {"人物":["张无忌","周芷若"],"年龄":[24,16]}
d2 = pd.DataFrame(data)
d2

In [ ]:
data2 = [["张无忌","周芷若"],[24,16]]
df3 = pd.DataFrame(data2,index=list("ab"),columns=list("CD"))
df3

In [ ]:
df3["D"][0]

In [ ]:
# 读取csv文件
import pandas as pd 
a = pd.read_csv("data.csv")
a

In [ ]:
a["b"][1]

In [ ]:
pd.read_csv("data.csv", header = None)[2][1]

In [ ]:
# index_col 指定某一列作为索引号
f = pd.read_csv("data.csv")
f

In [ ]:
f.index

In [ ]:
f = pd.read_csv("data.csv",index_col=0)
f

In [ ]:
f.reset_index(drop=False)

In [ ]:
f.index

In [ ]:
f.reset_index(drop=False)

In [ ]:
f.index

In [ ]:
f["b"][10]

In [ ]:
f.shape

In [ ]:
f = pd.read_csv("data.csv",index_col='c')
f

In [ ]:
type(f)

In [ ]:
f.dtypes

In [ ]:
f.a

In [ ]:
# 数据统计性描述
# std 标准差是方差的算术平方根，标准差是反应一个数据集合的离散程度
f.describe()

In [ ]:
dates = pd.date_range("20201127", periods=6)
dates

In [ ]:
import numpy as np
df = pd.DataFrame(np.random.rand(6,4),index=dates,columns=list("ABCD"))
df

In [ ]:
type(df)

In [ ]:
# 转置行列切换
df.T

In [ ]:
df["2020-11-27":"2020-11-29"]

In [ ]:
# loc 通过行索引找到具体的数据
df.loc["2020-11-27":"2020-11-29",["A","B"]]

In [ ]:
df.loc["2020-11-27",["D"]]

In [ ]:
df.loc[:,["A"]]

In [ ]:
df.loc["2020-11-27"]

In [ ]:
dates

In [ ]:
df.at[dates[0],"A"]

In [ ]:
df.at["2020-11-27","A"]

In [ ]:
df.head(2)

In [ ]:
df.tail(3)

In [ ]:
# pandas 重新索引
obj = pd.Series([4.5,9.4,-2.3],index=["a","b","c"])
obj

In [ ]:
# NaN空值
obj1 = obj.reindex(["a","b","c","d","e"])
obj1

In [ ]:
obj1 = obj.reindex(["a","b","c","d","e"],fill_value=2)
obj1

In [ ]:
# 旅游网址数据清洗实战
df = pd.read_csv("tr.csv")
df

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
# 列名索引号
df.columns

In [ ]:
# 列名值
df.columns.values

In [ ]:
col = df.columns.values
col[0].strip()

In [ ]:
df.columns = [x.strip() for x in col]

In [ ]:
df.columns.values

In [ ]:
# 统计重复值，true表示重复
df.duplicated()

In [ ]:
df.duplicated().sum()

In [ ]:
# 显示重复的记录
df[df.duplicated()]

In [ ]:
df.drop_duplicates()   # 显示重复待删除后的样子。

In [ ]:
df

In [ ]:
df.drop_duplicates(inplace=True)  # 真正的删除

In [ ]:
df

In [ ]:
df.duplicated().sum()

In [ ]:
df.shape

In [ ]:
df.index

In [ ]:
df.index = range(df.shape[0])

In [ ]:
df.index

In [ ]:
df

In [ ]:
df.describe().T

In [ ]:
# 标准差（standard deviation STD）
df["价格"].std()

In [ ]:
# mean 平均值
df["价格"].sum()/df["价格"].count()  # mean

In [ ]:
df["价格"] - df["价格"].mean()

In [ ]:
# 标准分数（sta）
sta = (df["价格"] - df["价格"].mean())/df["价格"].std()
sta

In [ ]:
df[sta.abs()>2]

In [ ]:
df[df.节省>df.价格]

In [ ]:
pd.concat([df[sta.abs()>2],df[df.节省>df.价格]])

In [ ]:
del_index = pd.concat([df[sta.abs()>2],df[df.节省>df.价格]]).index
del_index

In [ ]:
# df.drop(del_index)
df.drop(del_index, inplace=True)

In [ ]:
df

In [ ]:
df.shape

# 查看缺失值
df.isnull() 查看空值
df.notnull()非空
df.fillna 填充

In [ ]:
# 对NaN空值标注True
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df.notnull()

In [ ]:
df.notnull().sum()

In [ ]:
df[df.节省.isnull()]

In [ ]:
df = pd.read_csv("tr.csv")
df

In [ ]:
df[df.出发地.isnull()]

In [ ]:
df.loc[df.出发地.isnull(),"路线名"]

In [ ]:
[x.split("-")[0] for x in df.loc[df.出发地.isnull(),"路线名"]]

In [ ]:
df.loc[df.出发地.isnull(),"出发地"] = [x.split("-")[0] for x in df.loc[df.出发地.isnull(),"路线名"]]

In [ ]:
df

In [ ]:
# 练习题，请修改目的地为NaN的值，从路线名中获取后替换。
df.loc[df.目的地.isnull(),"路线名"]

In [ ]:
import re
re.findall("-(.*)\d天","['沈阳-青岛3天3晚']")

In [ ]:
df.loc[df.目的地.isnull(),"目的地"] = re.findall("-(.*)\d天","['沈阳-青岛3天3晚']")

In [ ]:
df

In [ ]:
df.describe().T

In [ ]:
df["节省"].mean()

In [ ]:
# fillna是对空值进行填充
df["节省"].fillna(df["节省"].mean(),inplace=True)

In [ ]:
df

In [ ]:
df["几天几夜"] = df.路线名.str.extract("(\d天\d夜)",expand=False)

In [ ]:
df["几天几夜"]

In [ ]:
df

In [ ]:
df["几天几夜"].notnull().sum()

In [ ]:
# 实战数据库数据清洗
from sqlalchemy import create_engine

In [ ]:
# 初始化pymysql连接数据库
engine = create_engine('mysql+pymysql://ceshi:123456@192.168.0.233:3336/TD_OA')

In [ ]:
# 读表 user表
df = pd.read_sql('user',engine)
df

In [ ]:
with engine.connect() as con:
    con.execute("DROP TABLE if exists 100user")
    con.execute("create table 100user like user;")
df.to_sql("100user", engine, index=False, if_exists="append")

In [ ]:
# 读表 100user
cmd = "select * from 100user"
df = pd.read_sql(sql=cmd, con=engine)

In [ ]:
print(df.head())

In [ ]:
print(df["USER_NAME"][0])

In [ ]:
# imei
# 获取用户为名，条件是imei为非空
x = df.loc[df.IMEI.notnull(),"USER_NAME"]
x

In [ ]:
df.loc[df.IMEI.notnull(), "USER_NAME"] = [i + "NULL" for i in x]

In [ ]:
df

In [ ]:
# df.to_sql('101user', engine, index=True, if_exists='append')