In [1]:
import pandas as pd

# 5.2.1 推断类型

In [14]:
df = pd.read_excel('team2.xlsx')
df

     name team  Q1  Q2  Q3  Q4     1city what color
0   Liver    E  89  21  24   1  shanghai     yellew
1    Arry    C  55  37  37   2    nanjin        red
2     Ack    A  57  60  33   3    beijin     purple
3   Eorge    C  93   4  71   4   tianjin       blue
4     Oah    D  93  49  44   5     henan      black
5  Harlie    C  24  13  87   6     hebei       pink

In [15]:
# 自动转换合适的数据类型
df.infer_objects().dtypes

name          object
team          object
Q1             int64
Q2             int64
Q3             int64
Q4             int64
1city         object
what color    object
dtype: object

In [16]:
# 推断后的Df
df.convert_dtypes().dtypes

name          string
team          string
Q1             Int64
Q2             Int64
Q3             Int64
Q4             Int64
1city         string
what color    string
dtype: object

# 5.2.2 指定类型

# 5.2.3 类型转换astype()

In [17]:
df.Q1.dtypes

dtype('int64')

In [35]:
df.Q1= df.Q1.astype('float64')

In [36]:
df.dtypes

name           object
team           object
Q1            float64
Q2              int64
Q3              int64
Q4              int64
1city          object
what color     object
dtype: object

# 5.2.4 转为时间类型

In [31]:
t = pd.Series(['20200801','20200802'])
t

0    20200801
1    20200802
dtype: object

In [32]:
pd.to_datetime(t)

0   2020-08-01
1   2020-08-02
dtype: datetime64[ns]

In [33]:
t.astype('datetime64[ns]')

0   2020-08-01
1   2020-08-02
dtype: datetime64[ns]