In [1]:
import pandas as pd , numpy as np

# 7.1.1 基本语法

# 7.1.2 相同结构

In [2]:
df1 = pd.DataFrame({'x':[1,2], 'y':[3,4]})
df1

   x  y
0  1  3
1  2  4

In [3]:
df2 = pd.DataFrame({'x':[5,6], 'y':[7,8]})
df2

   x  y
0  5  7
1  6  8

In [4]:
# 追加合并（没有修改df1原来结构）
df1.append(df2)

/var/folders/f7/4z7jtb213fs0mtgbw_0vs2600000gn/T/ipykernel_4830/3062608662.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

   x  y
0  1  3
1  2  4
0  5  7
1  6  8

In [10]:
df1

   x  y
0  1  3
1  2  4

In [14]:
pd.concat([df1, df2])

   x  y
0  1  3
1  2  4
0  5  7
1  6  8

# 7.1.3 不同结构

In [12]:
df3 = pd.DataFrame({'x':[5,6], 'z':[9,10]})
df3

   x   z
0  5   9
1  6  10

In [13]:
pd.concat([df1,df3])

   x    y     z
0  1  3.0   NaN
1  2  4.0   NaN
0  5  NaN   9.0
1  6  NaN  10.0

# 7.1.4 忽略索引

In [18]:
df1.append(df2, ignore_index=True)
# pd.concat([df1, df2], ignore_index=True) 同上

/var/folders/f7/4z7jtb213fs0mtgbw_0vs2600000gn/T/ipykernel_4830/2149412069.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2, ignore_index=True)

   x  y
0  1  3
1  2  4
2  5  7
3  6  8

# 7.1.5 重复内容

In [21]:
# 重复内容会报错
df1.append([df2,df2], verify_integrity=True)

/var/folders/f7/4z7jtb213fs0mtgbw_0vs2600000gn/T/ipykernel_4830/3026822486.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append([df2,df2], verify_integrity=True)

ValueError: Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

# 7.1.6 追加序列

In [23]:
df = pd.read_excel('../team2.xlsx')
df

     name team  Q1  Q2  Q3  Q4     1city what color
0   Liver    E  89  21  24   1  shanghai     yellew
1    Arry    C  55  37  37   2    nanjin        red
2     Ack    A  57  60  33   3    beijin     purple
3   Eorge    C  93   4  71   4   tianjin       blue
4     Oah    D  93  49  44   5     henan      black
5  Harlie    C  24  13  87   6     hebei       pink

In [24]:
df.tail()

     name team  Q1  Q2  Q3  Q4    1city what color
1    Arry    C  55  37  37   2   nanjin        red
2     Ack    A  57  60  33   3   beijin     purple
3   Eorge    C  93   4  71   4  tianjin       blue
4     Oah    D  93  49  44   5    henan      black
5  Harlie    C  24  13  87   6    hebei       pink

In [25]:
lily = pd.Series(['lily','A',55,66,77,88], index=['name','team','Q1','Q2','Q3','Q4'])

In [28]:
df = df.append(lily, ignore_index=True)

/var/folders/f7/4z7jtb213fs0mtgbw_0vs2600000gn/T/ipykernel_4830/931223297.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(lily, ignore_index=True)

In [29]:
df

     name team  Q1  Q2  Q3  Q4     1city what color
0   Liver    E  89  21  24   1  shanghai     yellew
1    Arry    C  55  37  37   2    nanjin        red
2     Ack    A  57  60  33   3    beijin     purple
3   Eorge    C  93   4  71   4   tianjin       blue
4     Oah    D  93  49  44   5     henan      black
5  Harlie    C  24  13  87   6     hebei       pink
6    lily    A  55  66  77  88       NaN        NaN

# 7.1.7 追加字典

In [30]:
peter = {'name':'peter','team':'B','Q1':'69','Q2':'78','Q3':'34','Q4':'9'}

In [31]:
df = df.append(peter, ignore_index=True)

/var/folders/f7/4z7jtb213fs0mtgbw_0vs2600000gn/T/ipykernel_4830/779088224.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(peter, ignore_index=True)

In [32]:
df

     name team  Q1  Q2  Q3  Q4     1city what color
0   Liver    E  89  21  24   1  shanghai     yellew
1    Arry    C  55  37  37   2    nanjin        red
2     Ack    A  57  60  33   3    beijin     purple
3   Eorge    C  93   4  71   4   tianjin       blue
4     Oah    D  93  49  44   5     henan      black
5  Harlie    C  24  13  87   6     hebei       pink
6    lily    A  55  66  77  88       NaN        NaN
7   peter    B  69  78  34   9       NaN        NaN