In [1]:
import pandas as pd, numpy as np

In [2]:
df1 = pd.DataFrame({'x':[1,2], 'y':[3,4]})
df2 = pd.DataFrame({'x':[5,6], 'y':[7,8]})

In [3]:
pd.concat([df1,df2])

   x  y
0  1  3
1  2  4
0  5  7
1  6  8

In [4]:
df2 = pd.DataFrame({'x':[5,6,0], 'y':[7,8,9]})

# 7.2.3 按列连接

In [5]:
pd.concat([df1,df2], axis=1)

     x    y  x  y
0  1.0  3.0  5  7
1  2.0  4.0  6  8
2  NaN  NaN  0  9

# 7.2.4 合并交集

In [6]:
pd.concat([df1,df2], axis=1, join='inner')

   x  y  x  y
0  1  3  5  7
1  2  4  6  8

In [7]:
pd.concat([df1,df2], axis=1, join='outer')

     x    y  x  y
0  1.0  3.0  5  7
1  2.0  4.0  6  8
2  NaN  NaN  0  9

# 7.2.5 与序列合并

In [8]:
z = pd.Series([9,9], name='z')

In [9]:
z

0    9
1    9
Name: z, dtype: int64

In [10]:
pd.concat([df1,z], axis=1)

   x  y  z
0  1  3  9
1  2  4  9

In [12]:
# 增加新列
df1.assign(z=z)

   x  y  z
0  1  3  9
1  2  4  9

# 7.2.6 指定索引

In [13]:
pd.concat([df1, df2], keys=['a','b'])

     x  y
a 0  1  3
  1  2  4
b 0  5  7
  1  6  8
  2  0  9

In [15]:
pd.concat({'a':df1,'b':df2})

     x  y
a 0  1  3
  1  2  4
b 0  5  7
  1  6  8
  2  0  9

In [16]:
# 横向合并，指定索引
pd.concat([df1, df2], axis=1, keys=['a','b'])

     a       b
     x    y  x  y
0  1.0  3.0  5  7
1  2.0  4.0  6  8
2  NaN  NaN  0  9

# 7.2.7 多文件合并

# 7.2.8 目录文件合并