In [3]:
# pi3 install jupyter
# pip3 install numpy 
# pip3 install pandas
# 启动 jupyter 
# 在工作目录下启动 jupyte notebook

# numpy 数学库，用于数组计算（一维、二维、多维），对list进行部分封装，提供了非常便利的科学运算功能，
# 因此在数值计算，机器学习，人工智能，神经网络等领域广泛应用。
# Numpy的核心是 ndarray，array本质是数组
# 官网：https://numpy.org/doc/stable/reference/

# pandas 侧重于数据处理，清洗
# pandas用户指南，https://pandas.pydata.org/docs/user_guide/index.html
# Shift + 回车  //执行
# all + 回车

import numpy as np
import pandas as pd

In [4]:
a = np.array([1,2,3,4])
print(a)

[1 2 3 4]

In [5]:
print(type(a))

<class 'numpy.ndarray'>

In [14]:
b = np.array([[[1,2.0],[1,2],[5,6]]])
print(b)

[[[1. 2.]
  [1. 2.]
  [5. 6.]]]

In [15]:
b.ndim  # 查看数据维度

3

In [16]:
print(b.dtype)

float64

In [18]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [25]:
# linspace等差数列
np.linspace(0,4,num=11)

array([0. , 0.4, 0.8, 1.2, 1.6, 2. , 2.4, 2.8, 3.2, 3.6, 4. ])

In [26]:
np.linspace(0,2)

array([0.        , 0.04081633, 0.08163265, 0.12244898, 0.16326531,
       0.20408163, 0.24489796, 0.28571429, 0.32653061, 0.36734694,
       0.40816327, 0.44897959, 0.48979592, 0.53061224, 0.57142857,
       0.6122449 , 0.65306122, 0.69387755, 0.73469388, 0.7755102 ,
       0.81632653, 0.85714286, 0.89795918, 0.93877551, 0.97959184,
       1.02040816, 1.06122449, 1.10204082, 1.14285714, 1.18367347,
       1.2244898 , 1.26530612, 1.30612245, 1.34693878, 1.3877551 ,
       1.42857143, 1.46938776, 1.51020408, 1.55102041, 1.59183673,
       1.63265306, 1.67346939, 1.71428571, 1.75510204, 1.79591837,
       1.83673469, 1.87755102, 1.91836735, 1.95918367, 2.        ])

In [27]:
# 随机数
np.random.randn(6,4)

array([[-0.84568194,  0.08217091, -0.33194451,  0.19101006],
       [ 1.15826518, -1.38925791,  1.43743144, -1.09572361],
       [ 1.50159687, -0.70864916,  0.5472741 ,  0.567514  ],
       [ 0.12397791,  0.59268742,  0.93059979,  1.17644206],
       [ 0.87637395, -1.00216854, -0.35068078,  1.7481073 ],
       [-0.56456045,  0.64110183,  0.270911  , -0.36435233]])

In [28]:
np.random.randn(3,6,4)

array([[[ 0.30538691,  0.60878668,  1.11580696, -0.51030806],
        [ 0.91788889,  1.4050989 , -0.99393736, -0.06309548],
        [-1.20659018,  1.99346441,  0.88916974,  1.70051933],
        [ 1.93866113,  0.22605612,  0.33906675,  1.1866911 ],
        [-0.22928521,  0.28284229, -1.1620381 ,  0.98774057],
        [ 0.11804729,  0.53502152,  1.03620609,  0.50978702]],

       [[ 0.0689197 , -0.54793753,  0.33948432,  0.17345954],
        [-1.82214782,  1.4232669 , -1.20480961,  0.06707248],
        [ 2.15011841, -0.21578867, -2.16894163, -0.43690642],
        [ 0.73908686, -1.58509996, -0.05238303,  0.20858377],
        [-1.10324016, -0.88962652,  0.17199669, -0.69212089],
        [ 3.07651745, -0.43596866,  1.48856146, -1.81337397]],

       [[-1.41531909, -0.61179219, -0.66442901,  0.35987521],
        [ 0.48803837,  0.2738177 ,  2.44094638,  2.5798151 ],
        [ 0.6624436 , -1.13090938, -0.68565231,  1.30303125],
        [ 0.11051614, -0.08621177, -0.65860045,  0.17468694],
        [-0.40787645, -0.66973117, -1.75037526, -0.13469532],
        [ 0.19489088, -2.49528182, -0.83126321, -0.27427164]]])

In [30]:
# randint随机生成[0,1)之间的整数，就是0
np.random.randint(1,size=5)

array([0, 0, 0, 0, 0])

In [36]:
# randint随机生成[1,5)之间的整数
np.random.randint(1,5)

3

In [43]:
# randint随机生成[-5，5)之间的整数
np.random.randint(-5,5,size=(3,2))

array([[-2, -1],
       [ 0, -5],
       [ 3, -3]])

In [44]:
### pandas 简介
# - 是一个专注于数据处理的一个库
# - 可以帮助数据分析、数据挖掘、算法工程师的人员
# Pandas模块的数据结构主要有两种：1.Series 2.DataFrame
###

In [48]:
# Series是一维数组，基于numpy的ndarray结构
# np.nan是一个float类型的数据
obj = pd.Series([1,2,3,4,5,np.nan])
obj

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
dtype: float64

In [50]:
obj = pd.Series([1,2,3,4,5])
obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [51]:
np.sum(obj)

15

In [55]:
obj[4]

5

In [56]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [57]:
obj[[0,2,4]]

0    1
2    3
4    5
dtype: int64

In [59]:
d = {"a":10, "b":20, "c":30}
d = pd.Series(d)
d

a    10
b    20
c    30
dtype: int64

In [61]:
d.values

array([10, 20, 30], dtype=int64)

In [62]:
d["a"]

10

In [63]:
d[0]

10

In [65]:
d.index

Index(['a', 'b', 'c'], dtype='object')

In [73]:
i = ["jinhao","zhaoyun","xiaodong","yangyang","test"]
a = pd.Series([1,5,5,5,2],index = i)
a

jinhao      1
zhaoyun     5
xiaodong    5
yangyang    5
test        2
dtype: int64

In [74]:
# 查看表格列表中有多少个不同值的方法。并计算每个不同值在列表中有多少重复值。
a.value_counts()

5    3
1    1
2    1
dtype: int64

In [77]:
a.value_counts(ascending=True)

1    1
2    1
5    3
dtype: int64

In [78]:
# 函数dtype()数据类型
# NumPy 数字类型是dtype(数据类型)对象的实例，每个对象具有唯一的特征。 这些类型可以是np.bool_，np.float32等。
# 语法：numpy.dtype(object, align, copy)
# 每个内建类型都有一个唯一定义它的字符代码：
# ‘b’：布尔值
# ‘i’：符号整数
# ‘u’：无符号整数
# ‘f’：浮点
# ‘c’：复数浮点
# ‘m’：时间间隔
# ‘M’：日期时间
# ‘O’：Python 对象
# ‘S’, ‘a’：字节串
# ‘U’：Unicode
# ‘V’：原始数据(void)
np.dtype(np.int32)  #  # #int8，int16，int32，int64 可替换为等价的字符串 'i1'，'i2'，'i4'，以及其他。

dtype('int32')

In [79]:
np.dtype("i4")

dtype('int32')

In [80]:
np.dtype(np.float32)

dtype('float32')

In [81]:
np.dtype("f4")

dtype('float32')

In [82]:
# 结构化数组类型
student = np.dtype([("name","S20"),("age", np.int8),("marks","f4")])
print(student)

[('name', 'S20'), ('age', 'i1'), ('marks', '<f4')]

In [84]:
a = np.array([("abc",21,50),("xyz",18,75)], dtype=student)
print(a)

[(b'abc', 21, 50.) (b'xyz', 18, 75.)]

In [85]:
print(a["name"])

[b'abc' b'xyz']

In [86]:
obj2 = pd.Series({"姓名":"张三","年龄":"12"})
obj2

姓名    张三
年龄    12
dtype: object

In [87]:
obj2[["姓名","年龄"]]

姓名    张三
年龄    12
dtype: object

In [89]:
obj3 = pd.Series(["张三","上海",22],index=["姓名","地区","年龄"])
obj3

姓名    张三
地区    上海
年龄    22
dtype: object

In [91]:
num = pd.Series([4,8,16,32])
a = np.log2(num)  # 对数函数log2()
a

0    2.0
1    3.0
2    4.0
3    5.0
dtype: float64

In [100]:
# DataFrame 二维数组
d1 = pd.DataFrame([["张无忌",24,"男"],["周芷若",16,"女"]])
d1

     0   1  2
0  张无忌  24  男
1  周芷若  16  女

In [101]:
data = {"人物":["张无忌","周芷若"],"年龄":[24,16]}
d2 = pd.DataFrame(data)
d2

    人物  年龄
0  张无忌  24
1  周芷若  16

In [103]:
data2 = [["张无忌","周芷若"],[24,16]]
df3 = pd.DataFrame(data2,index=list("ab"),columns=list("CD"))
df3

     C    D
a  张无忌  周芷若
b   24   16

In [111]:
df3["D"][0]

'周芷若'

In [8]:
# 读取csv文件
import pandas as pd 
a = pd.read_csv("data.csv")
a

    a   b   c   d   e   f
0   1   2   3   4   5   6
1  10  11  12  13  14  15

In [5]:
a[2][1]

'3'

In [6]:
pd.read_csv("data.csv", header = None)[2][1]

'3'

In [7]:
# index_col 指定某一列作为索引号
f = pd.read_csv("data.csv",index_col=0)
f

     b   c   d   e   f
a
1    2   3   4   5   6
10  11  12  13  14  15

In [9]:
f["b"][10]

11

In [10]:
f.shape

(2, 5)

In [11]:
f = pd.read_csv("data.csv",index_col='c')
f

     a   b   d   e   f
c
3    1   2   4   5   6
12  10  11  13  14  15

In [12]:
type(f)

pandas.core.frame.DataFrame

In [13]:
f.dtypes

a    int64
b    int64
d    int64
e    int64
f    int64
dtype: object

In [16]:
f.a

c
3      1
12    10
Name: a, dtype: int64

In [18]:
# 数据统计性描述
# std 标准差是方差的算术平方根，标准差是反应一个数据集合的离散程度
f.describe()

               a          b          d          e          f
count   2.000000   2.000000   2.000000   2.000000   2.000000
mean    5.500000   6.500000   8.500000   9.500000  10.500000
std     6.363961   6.363961   6.363961   6.363961   6.363961
min     1.000000   2.000000   4.000000   5.000000   6.000000
25%     3.250000   4.250000   6.250000   7.250000   8.250000
50%     5.500000   6.500000   8.500000   9.500000  10.500000
75%     7.750000   8.750000  10.750000  11.750000  12.750000
max    10.000000  11.000000  13.000000  14.000000  15.000000

In [21]:
dates = pd.date_range("20201127", periods=6)
dates

DatetimeIndex(['2020-11-27', '2020-11-28', '2020-11-29', '2020-11-30',
               '2020-12-01', '2020-12-02'],
              dtype='datetime64[ns]', freq='D')

In [22]:
import numpy as np
df = pd.DataFrame(np.random.rand(6,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2020-11-27  0.215688  0.266726  0.674841  0.077029
2020-11-28  0.988364  0.911026  0.725673  0.926905
2020-11-29  0.009441  0.413462  0.057774  0.893856
2020-11-30  0.198755  0.901874  0.694900  0.070286
2020-12-01  0.408078  0.570654  0.698506  0.082408
2020-12-02  0.639141  0.892273  0.022711  0.322303

In [23]:
type(df)

pandas.core.frame.DataFrame

In [24]:
# 转置行列切换
df.T

   2020-11-27  2020-11-28  2020-11-29  2020-11-30  2020-12-01  2020-12-02
A    0.215688    0.988364    0.009441    0.198755    0.408078    0.639141
B    0.266726    0.911026    0.413462    0.901874    0.570654    0.892273
C    0.674841    0.725673    0.057774    0.694900    0.698506    0.022711
D    0.077029    0.926905    0.893856    0.070286    0.082408    0.322303

In [25]:
df["2020-11-27":"2020-11-29"]

                   A         B         C         D
2020-11-27  0.215688  0.266726  0.674841  0.077029
2020-11-28  0.988364  0.911026  0.725673  0.926905
2020-11-29  0.009441  0.413462  0.057774  0.893856

In [27]:
# loc 通过行索引找到具体的数据
df.loc["2020-11-27":"2020-11-29",["A","B"]]

                   A         B
2020-11-27  0.215688  0.266726
2020-11-28  0.988364  0.911026
2020-11-29  0.009441  0.413462