In [1]:
import pandas as pd
import numpy as np

In [5]:
# serial 单层索引
sa =  pd.Series([1,2,3], index=list('abc'))
sa

a    1
b    2
c    3
dtype: int64

In [6]:
# serial 多层索引
# 第一层索引：张三、李四、王五
# 第二层索引：期中，期末

import pandas as pd
s = pd.Series([1,2,3,4,5,6],index=[['张三','张三','李四','李四','王五','王五'],
                                   ['期中','期末','期中','期末','期中','期末']])
s

张三  期中    1
    期末    2
李四  期中    3
    期末    4
王五  期中    5
    期末    6
dtype: int64

In [7]:
# Dataframe 多层索引
# np.random.randint(0,100,size=(6,3)) 随机生成随机整数方法randint，size是指定生成6行3列的数据，并且每个数字的范围在0到100之间。
 
da = np.random.randint(100,size=(6,3))
df1 = pd.DataFrame(da,index=[["a","a","b","b","c","c"],
                            ["期末","期中","期末","期中","期末","期中"]],
                   columns=["语文","英语","数学"])
df1

      语文  英语  数学
a 期末  26  87   6
  期中  48  36  13
b 期末  99   8  76
  期中  84  25  88
c 期末   1  92  55
  期中  22  53  63

MultiIndex可以从

数组列表（使用 MultiIndex.from_arrays()）、

元组数组（使用 MultiIndex.from_tuples()）、

可迭代的交叉集（使用 MultiIndex.from_product()）

DataFrame（使用 MultiIndex.from_frame()） 创建。

In [8]:
# 多层索引构建方法 pd.MultiIndex
# Series
names=["a","b","c"]
exems=["期中","期末"]
index=pd.MultiIndex.from_product([names,exems])
df = pd.Series(np.random.randint(0,150,size=6),index=index)
df

a  期中    127
   期末     17
b  期中    111
   期末     63
c  期中    118
   期末     12
dtype: int64

In [13]:
# DataFrame
names=["a","b","c"]
exems=["期中","期末"]
columns = ["语文","英语","数学"]
index=pd.MultiIndex.from_product([names,exems])
df2 = pd.DataFrame(da,index=index,columns=columns)
df2

      语文  英语  数学
a 期中  81   5   0
  期末  98  91  29
b 期中  25  15  49
  期末  33   0  26
c 期中  68  28  89
  期末  58  11  49

In [14]:
# 方法将普通列转成多层级索引
da = np.random.randint(100,size=(6,3))
dic = {"class":["class1","class1","class2","class3"],
      "name":["linda","mark","lily","cherich"],
      "score":[100,123,120,116]}
df3 = pd.DataFrame(dic)
df3.set_index(["class","name"])
df3

    class     name  score
0  class1    linda    100
1  class1     mark    123
2  class2     lily    120
3  class3  cherich    116

In [15]:
# 用来聚合计算，比如mean
df3.groupby(['class','name']).mean()

                score
class  name
class1 linda    100.0
       mark     123.0
class2 lily     120.0
class3 cherich  116.0

In [16]:
# 数据动态排布，分类汇总
df3.pivot_table(index=["class","name"])

                score
class  name
class1 linda      100
       mark       123
class2 lily       120
class3 cherich    116

In [22]:
# 多层索引构建方法 pd.MultiIndex
# Series
names=["a","b","c"]
exems=["期中","期末"]
index=pd.MultiIndex.from_product([names,exems])
df = pd.Series(np.random.randint(0,150,size=6),index=index)
df

a  期中    103
   期末    148
b  期中     78
   期末     54
c  期中     50
   期末     58
dtype: int64

In [23]:
# 取a的值
df["a"]
# df.loc[:"a"] 同上

期中    103
期末    148
dtype: int64

In [24]:
df["a"]['期末']

148

In [26]:
# 取a、c的值
df[['a','c']]
# df.loc[["a","c"]]

a  期中    103
   期末    148
c  期中     50
   期末     58
dtype: int64

In [27]:
# 取a、b的值
df[:"b"]
# df.loc[:"b"]

a  期中    103
   期末    148
b  期中     78
   期末     54
dtype: int64

In [31]:
# 按照索引排序，sort_index()

In [40]:
names=[1,2,3]
exems=["a","b"]
index=pd.MultiIndex.from_product([names,exems])
data1 = pd.Series([89,53,56,89,78,90],index=index)
# level = 0 则按照第一层索引排序  1 按照第二层
# ascending=False 降序 大到小  True 从小到大
# data1.sort_index(level=0)
data1.sort_index(level=0,ascending=False)

3  b    90
   a    78
2  b    89
   a    56
1  b    53
   a    89
dtype: int64

In [42]:
df1

      语文  英语  数学
a 期末  26  87   6
  期中  48  36  13
b 期末  99   8  76
  期中  84  25  88
c 期末   1  92  55
  期中  22  53  63

In [43]:
# 按照具体值（列名）排序，sort_value()
# # series
# data1.sort_values(ascending=False)
# dataFrame
df1.sort_values(by="语文",ascending=False)

      语文  英语  数学
b 期末  99   8  76
  期中  84  25  88
a 期中  48  36  13
  期末  26  87   6
c 期中  22  53  63
  期末   1  92  55