In [59]:
import pandas as pd, numpy as np

# 8.2.1 生成数据

In [60]:
i_arr = [[1,1,2,2],['男','女','男','女']]
c_arr = [['2019','2019','2020','2020'], ['上半年','下半年','上半年','下半年']]
# 索引和列名转换为多层
index = pd.MultiIndex.from_arrays(i_arr, names=('班级','性别'))
columns = pd.MultiIndex.from_arrays(c_arr, names=('年份','学期'))
df = pd.DataFrame([(88,89,88,89),(77,88,97,98),(67,89,74,58),(34,67,89,54)], columns=columns, index=index)
df

年份    2019     2020
学期     上半年 下半年  上半年 下半年
班级 性别
1  男    88  89   88  89
   女    77  88   97  98
2  男    67  89   74  58
   女    34  67   89  54

# 8.2.2 索引信息

In [61]:
df.index

MultiIndex([(1, '男'),
            (1, '女'),
            (2, '男'),
            (2, '女')],
           names=['班级', '性别'])

In [62]:
df.columns

MultiIndex([('2019', '上半年'),
            ('2019', '下半年'),
            ('2020', '上半年'),
            ('2020', '下半年')],
           names=['年份', '学期'])

In [63]:
df.index.names

FrozenList(['班级', '性别'])

In [64]:
df.columns.names

FrozenList(['年份', '学期'])

In [65]:
df.columns.names[1]

'学期'

# 8.2.3 查看层级

In [66]:
df.index.nlevels

2

In [67]:
df.index.levels

FrozenList([[1, 2], ['女', '男']])

In [68]:
df.columns.nlevels

2

In [69]:
df.columns.levels

FrozenList([['2019', '2020'], ['上半年', '下半年']])

In [70]:
df[['2019','2020']].index.levels

FrozenList([[1, 2], ['女', '男']])

# 8.2.4 索引内容

In [71]:
# 获取索引第二层内容
df.index.get_level_values(1)

Index(['男', '女', '男', '女'], dtype='object', name='性别')

In [72]:
df

年份    2019     2020
学期     上半年 下半年  上半年 下半年
班级 性别
1  男    88  89   88  89
   女    77  88   97  98
2  男    67  89   74  58
   女    34  67   89  54

In [73]:
df.index.get_level_values(1)[0]

'男'

In [74]:
df.index.get_level_values(1).names

FrozenList(['性别'])

In [75]:
df.index.get_level_values(1).names[0]

'性别'

In [76]:
#获取列索引第一层内容
df.columns.get_level_values(0)

Index(['2019', '2019', '2020', '2020'], dtype='object', name='年份')

In [77]:
df.index.get_level_values('班级')

Int64Index([1, 1, 2, 2], dtype='int64', name='班级')

# 8.2.5 排序

In [78]:
# 对性别，2020，下半年进行排序
df.sort_values(by=['性别',('2020','下半年')])

年份    2019     2020
学期     上半年 下半年  上半年 下半年
班级 性别
2  女    34  67   89  54
1  女    77  88   97  98
2  男    67  89   74  58
1  男    88  89   88  89

In [79]:
df.sort_values(by=['性别'])

年份    2019     2020
学期     上半年 下半年  上半年 下半年
班级 性别
1  女    77  88   97  98
2  女    34  67   89  54
1  男    88  89   88  89
2  男    67  89   74  58

In [80]:
# 性别与班级互换
df.index.reorder_levels([1,0])

MultiIndex([('男', 1),
            ('女', 1),
            ('男', 2),
            ('女', 2)],
           names=['性别', '班级'])

In [81]:
df.index

MultiIndex([(1, '男'),
            (1, '女'),
            (2, '男'),
            (2, '女')],
           names=['班级', '性别'])

In [82]:
df.index.reorder_levels([0,1])

MultiIndex([(1, '男'),
            (1, '女'),
            (2, '男'),
            (2, '女')],
           names=['班级', '性别'])

In [83]:
df

年份    2019     2020
学期     上半年 下半年  上半年 下半年
班级 性别
1  男    88  89   88  89
   女    77  88   97  98
2  男    67  89   74  58
   女    34  67   89  54

In [85]:
df.set_codes([1,1,0,0],level='foo')

AttributeError: 'DataFrame' object has no attribute 'set_codes'

In [94]:
# 按指定级别排序
df.index.sortlevel(level=0, ascending=True)

(MultiIndex([(1, '女'),
             (1, '男'),
             (2, '女'),
             (2, '男')],
            names=['班级', '性别']),
 array([1, 0, 3, 2]))

In [87]:
df

年份    2019     2020
学期     上半年 下半年  上半年 下半年
班级 性别
1  男    88  89   88  89
   女    77  88   97  98
2  男    67  89   74  58
   女    34  67   89  54

In [95]:
# 更换顺序
df.index.reindex(df.index[::-1])

(MultiIndex([(2, '女'),
             (2, '男'),
             (1, '女'),
             (1, '男')],
            names=['班级', '性别']),
 array([3, 2, 1, 0]))

# 8.2.6 其他操作