In [2]:
import numpy as np, pandas as pd

# 11.1.1 文本数据类型

In [3]:

df = pd.DataFrame({
    'A':['a1','a1','a2','a2'],
    'B':['b1','b2',None,'b2'],
    'C':[1,2,3,4],
    'D':[5,6,None,8],
    'E':[5,None,7,8]
})
df

    A     B  C    D    E
0  a1    b1  1  5.0  5.0
1  a1    b2  2  6.0  NaN
2  a2  None  3  NaN  7.0
3  a2    b2  4  8.0  8.0

In [4]:
# 默认文本数据为object类型
# 如果数字数据集中有None，则为float64
df.dtypes

A     object
B     object
C      int64
D    float64
E    float64
dtype: object

In [5]:
pd.Series(['a','b','c'],dtype='string')
# pd.Series(['a','b','c'],dtype=pd.StringDtype())  # 同上

0    a
1    b
2    c
dtype: string

# 11.1.2 类型转换

In [8]:
# 智能转换为最新支持的合适类型, object转为string，数字类型转换int64
df.convert_dtypes().dtypes

A    string
B    string
C     Int64
D     Int64
E     Int64
dtype: object

In [14]:
s= pd.Series(['a','c'])
type(s.dtype)

numpy.dtype[object_]

In [16]:
s.dtype

dtype('O')

In [12]:
# 使用astype转换数据类型
s.astype('string')

0    a
1    c
dtype: string

# 11.1.3 类型异同

In [17]:
# 默认object，str后返回float64
pd.Series(['a',None,'b']).str.count('a')

0    1.0
1    NaN
2    0.0
dtype: float64

In [18]:
# StringDtype，str后返回Int64
pd.Series(['a',None,'b'], dtype='string').str.count('a')

0       1
1    <NA>
2       0
dtype: Int64